<p>Once upon a time, there was a {{tale.animal}} named {{tale.name}}. He was only {{tale.age}} years old, but he loved to travel.</p>
<br>
<p>Click <a href="http://localhost:3000/middle">HERE</a> to continue the story</p>