<p>After a while, Rupert met a beautiful fox named {{tale.foxWife}}. They fell deeply in love and lived in {{tale.housing}}. They lived there happily ever after. The {{tale.storyPart}}.</p>
<br>
<p>Click <a href="http://localhost:3000/beginning">HERE</a> to continue restart story</p>