<p>One day, Rupert decided to visit {{tale.place}}. So, he hopped on a {{tale.travelVehicle}} to get there. Once he got there, he decided to stay for at least {{tale.yearsToStay}} years.</p>
<br>
<p>Click <a href="http://localhost:3000/end">HERE</a> to continue the story</p>